<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Detection</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Fotoğraftan Renk Tespiti</h1>
      <input type="file" id="imageLoader" class="form-control-file mt-3" />
      <canvas
        id="imageCanvas"
        width="300"
        height="300"
        class="mt-3 border"
      ></canvas>
      <p id="colorInfo" class="mt-3">
        Tıklanan rengin kodu: <span id="colorCode"></span>
      </p>
    </div>

    <script src="static/js/colorPicker.js"></script>
  </body>
</html>
